.custom-field.type-checkbox .field-label {
  display: block;
}
.custom-field.type-checkbox .field-label input {
  float: left;
  margin-right: 10px;
}
.custom-field.type-checkbox .field-description-block {
  padding-left: 23px;
}
.custom-field.type-checkbox .field-label {
  margin-bottom: 0;
}
.custom-field.type-checkbox .field-label .label-value {
  display: block;
  margin-left: 20px;
}
.custom-field.required .field-label {
  font-weight: bold;
}
.custom-field .required-sign {
  display: none;
}
.custom-field.required .required-sign {
  display: inline;
  color: red;
  padding-left: 5px;
}
.custom-field {
  margin-bottom: 30px;
}
.custom-field .field-description-block {
  font-style: italic;
  color: #999;
}
.field-params .required-input {
  margin-right: 5px;
}
.custom-form .custom-field {
  margin-bottom: 15px;
  margin-top: 15px;
}
.custom-form-editor .custom-field {
  margin-bottom: 10px;
}
.custom-field-header.field-numeric {
  text-align: right;
}
.custom-field-value.field-numeric {
  text-align: right;
}
.custom-field.type-numeric .form-control {
  text-align: right;
}
.custom-field.type-select select {
  max-width: 400px;
}
.custom-field.required .field-label {
  font-weight: bold;
}
.custom-field .required-sign {
  display: none;
}
.custom-field.required .required-sign {
  display: inline;
  color: red;
  padding-left: 5px;
}
.custom-form-editor .fields {
  min-height: 60px;
}
.custom-form-editor .field-wrapper {
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  margin: 10px;
}
.custom-form-editor .control-buttons {
  margin-top: 10px;
  margin-right: 30px;
}
.custom-form-editor .fields {
  background: #f9f9f9;
  margin-right: 20px;
  border: 1px solid #eee;
  padding-bottom: 20px;
}
.custom-form-editor .field-wrapper.selected {
  background: #ffffe0;
}
.field-settings-editor {
  padding: 20px;
  background: #ffffe0;
  border: 1px dashed #ccc;
}
.field-settings-editor .btn {
  margin-top: 10px;
  margin-right: 10px;
}
.field-settings-editor input {
  margin-bottom: 20px;
}
.field-settings-editor textarea {
  margin-bottom: 20px;
}
.field-settings-editor .required-input {
  margin-right: 5px;
}
.field-settings-editor label {
  display: block;
}
.field-settings-editor textarea.standard {
  width: 100%;
  height: 60px;
}
.custom-field .field-description-block {
  font-style: italic;
  color: #999;
}
.custom-form-editor .field-show_in_table input {
  margin-right: 5px;
}
.custom-field.type-multi_select .field-label {
  display: block;
}
.custom-field.type-multi_select .field-input-block label {
  display: block;
}
.custom-field.type-multi_select .field-input-block input {
  margin-right: 5px;
}
.custom-field.type-select .field-input-block label {
  display: block;
  text-indent: -15px;
  padding-left: 15px;
}
.custom-field.type-select .field-input-block input {
  margin-right: 5px;
}
.custom-field.type-numeric .form-control {
  display: inline;
  width: auto;
}
.field-cols {
  float: left;
  margin-right: 20px;
}
